
@{
    ViewBag.Title = "Index";
}

<h2>Something About Marco McLaren</h2><br/>

                                      <div class="container">
                                          <div class="row">
                                              <div class="col-sm-6">
                                                  <h3>Bio</h3>
                                                  <p>
                                                      Yes my surname is spelled the same as the racecar
                                                      , and yes I would love to own one, and no I don't get discounts at Makro
                                                      . I was born in Pretoria and have lived here my whole life. I was in the Mopane
                                                      residence for two years. I play rugby 7's, and I have a scuba diving liscence.
                                                      I honestly feel like a dolphin that was born in the bush. I want to live at the sea.
                                                      I really really love BIT-IS and I can't wait to see what the future holds for me once I graduate with this amazing degree
                                                  </p>
                                              </div>
                                              <div class="col-sm-6">
                                                  <img src="~/Bio Image/Marco2.jpg" style="width:500px; height:auto;"/>
                                              </div>
                                              </div>
                                          </div>
